body{
    margin: 0px;
    padding: 0px;
}
h1{
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 542px;
    font-size: 70px;
    align-content: center;
    border-radius: 5%;
    box-shadow: 0px 0px 0px 0.19px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 40px;
    font-size: 57.27px;
}
.utama{
    background-color: #f1f1f1;
    border-radius: 5%;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 0px 0.19px;
    padding: 0px;
    margin-top: 10px;
}
.pisang{
    padding: 10px;
    margin: 10px;
    position: relative;
    left: 250px;
    bottom: 200px;

}
.Judul{
    margin-right: 100px;
    padding: 0px; 
    width: 187px;
    height: 41px;  
}
.menu {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding-left: 34px; 
    width: 357px;
    height: 70px;
}
